<div class="copyright">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 order-lg-1 order-2  ">
        <div class="copyright_content d-flex flex-row align-items-center">
          <div>
            <%= t "copyright" %>
            <i class="fa fa-heart-o" aria-hidden="true"></i>
            <%= t "by" %>
            <a href="https://asteamk60.slack.com" target="_blank" style="color: yellow">ASK60C_TEAM</a>
          </div>
        </div>
      </div>
      <div class="col-lg-7 order-lg-2 order-1">
        <div class="footer_nav_container d-flex flex-row align-items-center
          justify-content-lg-end">
          <div class="footer_nav">
            <ul class="footer_nav_list">
              <li class="footer_nav_item">
                <%= link_to t("home"), root_path %>
              </li>
              <li class="footer_nav_item">
                <%= link_to t("about"), about_path %>
              </li>
              <li class="footer_nav_item">
                <%= link_to t("reviews"), "#" %>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
